body {
  margin: 0;
  height: 100%;
  background-color: #4697bb;
}
img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
section {
  width: 100%;
  display: flex;
  justify-content: space-around;
  
}
.sunrise > span,
.sunset > span{
  font-size: 22px
}
.sunrise{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sunrise,
.sunset {
  margin-top: 14px;
}

.sunsetImg,
.sunriseImg {
  margin-top: 10px;
}

.sunset {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todolist {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 200px 0px 200px;
  
}

.todolist_morningToDo,
.todolist_afternoonToDo {

  display: flex;
  flex-direction: column;
  align-items: center;
  word-break: break-word;
}

.inputContainer {
  margin-top: 60px;
}

ul {
display: flex;
justify-content: flex-start;
  width: 20rem;
  height: 25rem;
  background-color: #eff3f4;
  border-radius: 10%;
  padding-left: 40px;
}

li {
  width: 100%;
  font-size: 15px;
  margin-top: 10px;
  
}

input {
  font-size: 130%;
  border-radius: 10px;
  border: none;
  outline: none;
  opacity: 0.8;
}

.checkBtn:hover {
  cursor: pointer;
}

.checkToDo{
  text-decoration: line-through;
  /*이건 나중에 animation을 줘서 서서히 줄이 쳐지는 걸로 만들고 싶음*/
}

.clearBtn{
 display: flex;
 align-items: flex-end;
 margin-bottom: 2.5rem;
 color: #FF6633;
}
.clearBtn:hover{
cursor: pointer;
color: #eff3f4;
transition: 0.2s ease-in;
}
.mid-block{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.js-clock > h1{
  font-size: 5rem;
  color: aliceblue;
  text-shadow: 2px 2px black;
}

@media screen and (max-width : 1230px){
.todolist{
  margin: 0;
  margin-top: 50px;
}
}
@media screen and (min-width: 500px) and (max-width :850px){
 section{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   padding: 0px 0px 50px 0px;
   position: relative;
 }
 .clearBtn{
   position: absolute;
   position: fixed;
   right: 2em;
   top: 6em;
  font-size: 1.5em;
 }


}